.footer {
  background: var(--black);
  width: 100%;
}

.footer_container {
  display: flex;
  width: 1024px;
  margin: 0 auto;
  justify-content: space-between;
  column-gap: 300px;
  padding: 64px 0;
}

.footer_wrapper {
  display: flex;
  flex-direction: column;
}

.footer_wrapper-logo {
  text-decoration: none;
  color: var(--white);
  font-family: var(--primary-font);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.footer-span {
  color: var(--green);
}

.footer_address {
  margin-top: 32px;
}
.footer_address_list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.footer_address_list_item_text {
  color:var(--transparent-white);
  font-family: var(--primary-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
}

.footer_address_list_item_link {
  text-decoration: none;
  color: var(--white);
  font-family: var(--primary-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 128.571% */
}

.footer_nav_list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.footer_nav_list_item_link {
  text-decoration: none;
  color: var(--white);
  font-family: var(--primary-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}

.footer_social_list {
  list-style: none;
  display: flex;
  column-gap: 12px;
}
.footer_social_list_item {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer_social_list_item_link {
  width: 28px;
  height: 28px;
}

.footer_social_list_item_link-icon {
  fill:var(--white);
}
.footer_social_list_item:hover .footer_social_list_item_link-icon{
  fill: var(--focus-color);
}

.footer_bottom_line {
  width: 1024px;
  margin: 0 auto;
  stroke-width: 1px;
  color: rgba(255, 255, 255, 0.1);
}

.footer_bottom_list_item_text {
  color: var(--transparent-white);
  font-family: var(--primary-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.28px;
}

.footer_bottom_list_item_btn {
  border: none;
  background: none;
}
.footer_bottom_list_item-link {
  text-decoration: none;
  color: var(--transparent-white);
  font-family: var(--primary-font);
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.28px;
}

.footer_bottom_list_item_btn-icon {
  fill: var(--white);
}

.footer_bottom_list {
  display: flex;
  width: 1024px;
  margin: 0 auto;
  padding: 23px 0;
  align-items: center;
  justify-content: space-between;
}

.footer_social_list_item_link > svg:focus{
   fill: var(--green);
}

.footer_bottom_list_item_btn-icon:hover{
    fill: var(--focus-color);
 }
 
.item-left {
  display: flex;
  column-gap: 230px;
}

.item-ref {
  display: flex;
  align-items: center;
  column-gap: 18px;
}

@media screen and (max-width: 374px) {
  .footer_container {
    width: auto;
    max-width: 320px;
    flex-direction: column;
    padding: 40px 0 0 20px;
  }

  .footer_wrapper-logo {
    font-size: 20px;
  }

  .footer_address {
    margin-top: 20px;
  }

  .footer_nav {
    margin-top: 40px;
  }

  .footer_social {
    margin-top: 40px;
  }

  .footer_bottom {
    margin-top: 40px;
  }
  .footer_bottom_line {
    width: auto;
  }
  .footer_bottom_list {
    width: auto;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    row-gap: 14px;
  }

  .item-left {
    column-gap: 0;
    position: relative;
  }

  .footer_bottom_list_item_btn {
    position: absolute;
    left: 90%;
    top: 15px;
  }
}

@media screen and (min-width: 375px) and (max-width: 768px) {
.footer_container {
    width: 100%;
    padding: 32px;
    padding-bottom: 110px;
    column-gap: 0;
}

.footer_nav_list {
    align-items: flex-start;
}

.footer_address_list{
    align-items: flex-start;
}

.footer_address_list_item_text {
    text-align: left;
}
.footer_bottom_line{
    width: 100%;
    max-width: 660px;
}

.footer_bottom_list {
    width: 100%; 
    padding: 23px 32px;
}

.item-left {
    align-items: center;
    column-gap: 55px;
}
}

@media screen and (min-width: 769px) and (max-width: 1280px) {
.footer_container {
    width: 100%;
    padding: 64px 128px;
    column-gap: 0;
}
.footer_wrapper {
    align-items: flex-start;
}
.footer_address_list_item_text {
    text-align: left;
}
.footer_nav_list {
    align-items: flex-start;
    width: 80px;
}

.item-left {
    width:50%;
    justify-content: space-between;
    align-items: center;
}

.footer_bottom_list {
    width: auto;
    padding: 23px 128px;
    align-items: center;
}

.footer_bottom_line {
    width: 70%;}
}