.lessons-container {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}
.lessons-title {
  color: var(--black);
  text-align: center;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
}
.lessons-title-underline {
  position: relative;
}
.lessons-title-underline::after {
  content: ' ';
  position: absolute;
  display: block;
  z-index: -1;
  top: 65%;
  right: 0;
  width: 100%;
  height: 12px;
  border-radius: 8px;
  background: var(--accent-color);
}
.lessons-subtitle {
  color: var(--transparent-black);
  text-align: center;
  font-family: var(--primary-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
}
.lessons-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 20px;
}
.second-card {
  background: var(--green);
}
.lessons-item-border .second-card-text-color {
  color: #fff;
}
.lessons-description {
  color: var(--transparent-black);
  text-align: center;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
}
.lessons-item-title {
  color: var(--black);
  text-align: center;
  font-family: var(--primary-font);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.4px;
}
.lessons-item-price {
  color: var(--black);
  text-align: center;
  font-family: var(--primary-font);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.64px;
}
.lessons-button {
  /* padding: 14px 78px;
    margin: 0px 20px 40px 20px; */
  min-width: calc(100% - 40px);
  display: flex;
  padding: 14px;
  /* margin: 0px; */
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  /* max-width: 255px; */
  height: 52px;
  border-radius: 12px;
  border: none;
  background-color: var(--green);
  /* margin-bottom: 20px; */
  transition: background-color var(--transition-timing)
    var(--transition-function);
}
.lessons-item-border {
  padding: 40px 20px;
  border-radius: 16px;
  border: 1px solid #4dc274;
  /* background: #fff; */
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 335px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  .lessons-title {
    font-size: 32px;
    line-height: 1.12;
    letter-spacing: -0.64px;
    margin-bottom: 16px;
  }
  .lessons-subtitle {
    font-size: 14px;
    line-height: 1.71;
    margin-bottom: 40px;
  }
  .lessons-list {
    flex-basis: 100%;
  }
  .lessons-item-title {
    /* padding-top: 40px; */
    margin-bottom: 16px;
  }
  .lessons-item-price {
    line-height: 1.12;
  }
  .lessons-description {
    font-size: 14px;
    padding: 40px 20px 20px 20px;
  }

  .button-text {
    color: #fff;
    font-family: var(--primary-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.71;
  }
  .lessons-button {
    /* padding: 14px 78px;
    margin: 0px 20px 40px 20px; */
    border: 1px solid #fff;
  }
}
