<!-- MODAL-->
<div class="backdrop is-hidden" id="" data-modal>
    <div class="team-modal">
        <h2 class="team-modal-title">Our developers team</h2>
        <ul class="team-modal-list">
            <li class="team-modal-item">
                <img class="team-modal-img"
                srcset="./img/created-by/ 1x, ./img/created-by/ 2x"  
                src="./img/created-by/"
                alt = "team lead" 
                width = "150"/>
                <h3 class="team-modal-item-title">Oleksandr</h3>
                <p class="team-modal-item-text">Team Lead</p>
            </li>
            
            <li class="team-modal-item">
                <img class="team-modal-img"
                srcset="./img/created-by/ 1x, ./img/created-by/ 2x"
                 src="./img/created-by/"
                 alt = "Scram" 
                 width = "150"/>
                <h3 class="team-modal-item-title">Iryna</h3>
                <p class="team-modal-item-text">Scram</p>
            </li>
            <li class="team-modal-item">
                <img class="team-modal-img"
                srcset="./img/created-by/ 1x, ./img/created-by/ 2x"
                 src="./img/created-by/"
                 alt = "Developer" 
                 width = "150"/>
                <h3 class="team-modal-item-title">Nadiia</h3>
                <p class="team-modal-item-text">Developers</p>
            </li>
            <li class="team-modal-item">
                <img class="team-modal-img" 
                srcset="./img/created-by/ 1x, ./img/created-by/ 2x"
                src="./img/created-by/"
                alt = "Developer" 
                width = "150"/>
                <h3 class="team-modal-item-title">Mila</h3>
                <p class="team-modal-item-text">Developers</p>
            </li>
            <li class="team-modal-item">
                <img class="team-modal-img"
                srcset="./img/created-by/ 1x, ./img/created-by/ 2x"
                 src="./img/created-by/"
                 alt = "Developer" 
                 width = "150"/>
                <h3 class="team-modal-item-title">Alexander</h3>
                <p class="team-modal-item-text">Developers</p>
            </li>
            <li class="team-modal-item">
                <img class="team-modal-img"
                srcset="./img/created-by/ 1x, ./img/created-by/ 2x"
                 src="./img/created-by/"
                 alt = "Developer" 
                 width = "150"/>
                <h3 class="team-modal-item-title">Kostiantyn</h3>
                <p class="team-modal-item-text">Developers</p>
            </li>
            <li class="team-modal-item">
                <img class="team-modal-img"
                srcset="./img/created-by/ 1x, ./img/created-by/ 2x"
                 src="./img/created-by/"
                 alt = "Developer" 
                 width = "150"/>
                <h3 class="team-modal-item-title">Vlad</h3>
                <p class="team-modal-item-text">Developers</p>
            </li>
            <li class="team-modal-item">
                <img class="team-modal-img" 
                srcset="./img/created-by/ 1x, ./img/created-by/ 2x"
                src="./img/created-by/"
                alt = "Developer" 
                width = "150"/>
                <h3 class="team-modal-item-title">Anrdii</h3>
                <p class="team-modal-item-text">Developers</p>
            </li>
            <li class="team-modal-item">
                <img class="team-modal-img" 
                srcset="./img/created-by/ 1x, ./img/created-by/ 2x"
                src="./img/created-by/"
                alt = "Developer" 
                width = "150"/>
                <h3 class="team-modal-item-title">Sergii</h3>
                <p class="team-modal-item-text">Developers</p>
            </li>
        </ul>
        <button class="team-modal-button" type="button">Order your site in one click</button>

        <button type="button" class ="team-modal-btn-close" data-modal-close>
            <svg class="team-modal-icon active-icon" width="40px" height="40px">
                 <use href="./img/x.svg"></use>
            </svg>
        </button>
    </div>
 </div>
 <!-- MODAL-->