
<footer class="footer">
<div class="footer_container">
    <div class="footer_wrapper">
   
      <a class="footer_wrapper-logo link" href="./index.html">
        english<span class="footer-span">excellence</span>.
      </a>
      <address class="footer_address">
        <ul class="footer_address_list">
            <li class="footer_address_list_item">
          <p class="footer_address_list_item_text">Phone number:</p>
          <a class="footer_address_list_item_link" href="tel:+380684439426">+380 (68) 443-94-26</a>
            </li>
        <li class="footer_address_list_item">
          <p class="footer_address_list_item_text">Address:</p>
          <a class="footer_address_list_item_link" target="_blank" href="https://goo.gl/maps/u3sXZLSaGwqKpjTa8">32a M. Bazhana ave</a>
            </li>
        </ul>
        </address>
    </div>

        <div class="footer_nav">
            <ul class="footer_nav_list">
                <li class="footer_nav_list_item">
                    <a class="footer_nav_list_item_link" href="#">
                        About us
                    </a>
                </li>
                <li class="footer_nav_list_item">
                    <a class="footer_nav_list_item_link" href="#">
                        Our lessons
                    </a>
                </li>
                <li class="footer_nav_list_item">
                    <a class="footer_nav_list_item_link" href="#">
                        Teachers
                    </a>
                </li>
                <li class="footer_nav_list_item">
                    <a class="footer_nav_list_item_link" href="#">
                        Reviews
                    </a>
                </li>
                <li class="footer_nav_list_item">
                    <a class="footer_nav_list_item_link" href="#">
                        Contact us
                    </a>
                </li>
            </ul>
        </div>

        <div class="footer_social">
            <ul class="footer_social_list">
                <li class="footer_social_list_item">
                  <a href="https://www.facebook.com/goITclub/" class="footer_social_list_item_link">
                    <svg class="footer_social_list_item_link-icon" width="28" height="28">
                      <use href="../img/icons.svg#facebook-icon"></use>
                    </svg>
                  </a>
                </li>
                <li class="footer_social_list_item">
                    <a href="https://www.instagram.com/goitclub/" class="footer_social_list_item_link">
                      <svg class="footer_social_list_item_link-icon" width="28" height="28">
                        <use href="../img/icons.svg#instagram-icon"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="footer_social_list_item">
                    <a href="https://www.youtube.com/c/GoIT" class="footer_social_list_item_link">
                      <svg class="footer_social_list_item_link-icon" width="28" height="28">
                        <use href="../img/icons.svg#youtube-icon"></use>
                      </svg>
                    </a>
                  </li>
        </div>
    </div>
    <div class="footer_bottom">
       <hr class="footer_bottom_line"/>
       <ul class="footer_bottom_list">
        <li class="footer_bottom_list_item item-left">
           <p class="footer_bottom_list_item_text">©2023  English Excellence. All rights reserved.</p> 
           <button id="footer-modal-open" class="footer_bottom_list_item_btn">
            <svg class="footer_bottom_list_item_btn-icon" width="28" height="28">
                <use href="../img/icons.svg#users-icon"></use>
              </svg>
           </button>
        </li>
        <li class="footer_bottom_list_item item-ref">
           <a class="footer_bottom_list_item-link">Privacy Policy</a>
           <a class="footer_bottom_list_item-link">Terms of Service</a>
        </li>
       
       </ul>
    </div>
</footer>
