<header>
    <div class="header container">
     
      <nav class="page-nav">
        <a href="./index.html" class="page-nav-logo"
          ><span class="logo-english">english</span
          ><span class="logo-exellence">exellence.</span></a
        >
        <!-- <button
        class="menu-toggle js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
      <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line x1="6.36963" y1="8.87878" x2="30.5001" y2="8.87878" stroke="#121417" stroke-width="3" stroke-linecap="round"/>
        <line x1="6.36963" y1="22.8182" x2="30.5001" y2="22.8182" stroke="#121417" stroke-width="3" stroke-linecap="round"/>
        <line x1="14.0217" y1="15.8485" x2="30.5" y2="15.8485" stroke="#121417" stroke-width="3" stroke-linecap="round"/>
        </svg>
      </button> -->
       

      

        <ul class="nav-list list">
          <li class="nav-list-link"><a href="./about-us.html" class="link accent">About us</a></li>
          <li class="nav-list-link"><a href="./our-lessons.html" class="link">Our lessonse</a></li>
          <li class="nav-list-link"><a href="./our-techers.html" class="link">Teachers</a></li>
          <li class="nav-list-link"><a href="./reviews.html" class="link">Reviews</a></li>
          <li class="nav-list-link"><a href="./leave-an-app.html" class="link">Contact us</a></li>
        </ul>
      </nav>
    </div>
    <!-- <button class="burger" type="button" js-open-menu></button> -->
  </header>
  <script defer src="./mobile-menu.js"></script>