<div class="menu-container js-menu-container" id="mobile-menu">
    <button class="menu-toggle js-close-menu">
        <svg    
        fill="white"
        width="24"
        height="24">
            <use href="../img/icons.svg#close-icon"></use>
        </svg>
        </button>
        <ul class="mobile-menu">
            <li class="nav-list-link"><a href="./about-us.html" class="link accent">About us</a></li>
            <li class="nav-list-link"><a href="./our-lessons.html" class="link">Our lessonse</a></li>
            <li class="nav-list-link"><a href="./our-techers.html" class="link">Teachers</a></li>
            <li class="nav-list-link"><a href="./reviews.html" class="link">Reviews</a></li>
            <li class="nav-list-link"><a href="./leave-an-app.html" class="link">Contact us</a></li>
          </ul></div>