<section class="teachers-section" id="our-techers">
  <div class="container teachers-container">
    <h2 class="teachers-section__title title">
      Meet our <span class="title-underline">teachers</span>
    </h2>
    <p class="description">
      Discover our team of dedicated educators, committed to guiding you on your
      journey to English proficiency with personalized and engaging instruction
    </p>
    <ul class="cards-wrapper">
      <li class="card">
        <picture>
          <source
            srcset="
              ./img/techers-webp/maria.webp    1x,
              ./img/techers-webp/maria@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="./img/techers/maria.png 1x, ./img/techers/maria@2x.png 2x"
            type="image/png"
          />
          <img
            class="teacher-photo"
            src="./img/techers/maria.png"
            alt="student's photo"
            style="width: auto"
          />
        </picture>

        <h3 class="title">Maria</h3>
        <p class="about-techer">
          A seasoned linguist and our primary specialist in beginner-level
          instruction, Maria brings warmth and patience to every class
        </p>
      </li>
      <li class="card">
        <picture>
          <source
            srcset="
              ./img/techers-webp/artem.webp    1x,
              ./img/techers-webp/artem@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="./img/techers/artem.png 1x ./img/techers/artem@2x.png 2x"
            type="image/png"
          />
          <img
            class="teacher-photo"
            src="./img/techers/artem.png"
            alt="student's photo"
            style="width: auto"
          />
        </picture>

        <h3 class="title">Artem</h3>
        <p class="about-techer">
          With his innovative teaching techniques and a focus on interactive
          learning, Artem excels in keeping students engaged and motivated
        </p>
      </li>
      <li class="card">
        <picture>
          <source
            srcset="
              ./img/techers-webp/ilona.webp    1x,
              ./img/techers-webp/ilona@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="./img/techers/ilona.png 1x, ./img/techers/ilona@2x.png 2x"
            type="image/png"
          />
          <img
            class="teacher-photo"
            src="./img/techers/ilona.png"
            alt="Ilona photo"
            style="width: auto"
          />
        </picture>

        <h3 class="title">Ilona</h3>
        <p class="about-techer">
          A specialist in advanced English, Ilona provides intensive
          instruction, ensuring students gain confidence in complex language
          tasks
        </p>
      </li>
      <li class="card">
        <picture>
          <source
            srcset="
              ./img/techers-webp/volodymyr.webp    1x,
              ./img/techers-webp/volodymyr@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/techers/volodymyr.png    1x,
              ./img/techers/volodymyr@2x.png 2x
            "
            type="image/png"
          />
          <img
            class="teacher-photo"
            src="./img/techers/volodymyr.png"
            alt="student's photo"
            style="width: auto"
          />
        </picture>

        <h3 class="title">Volodymyr</h3>
        <p class="about-techer">
          Our expert in English for specific purposes, Volodymyr tailors his
          approach to meet individual career and industry-specific language
          needs
        </p>
      </li>
    </ul>
  </div>
</section>
