<section class="proposal_section" id="proposal-to-leave-app">
  <div class="proposal_container">
    <h2 class="visually-hidden">Proposal to sign up for lessons</h2>
    <p class="proposal_cta">
      Master the <span class="accent-color">Language</span> with Our English
      Package!
    </p>
    <div class="cards">
      <div class="card_back"></div>
      <div class="card_mid"></div>
      <div class="card_front">

        <picture  >
          <source srcset="./img/other-webp/books.webp 1x, ./img/other-webp/books@2x.webp 2x" type="image/webp">
          <source srcset="./img/other/books.png 1x, ./img/other/books@2x.png 2x" type="image/png">
          <img class="proposal_books" src="./img/other/books.png" alt="books" style="width:auto;" >
       </picture>



        <!-- <picture  >
          <source media="(min-width: 768px)" srcset="./img/other/books@2x.png 2x" type="image/png">
          <source media="(min-width: 768px)" srcset="./img/other/books.png 1x, ./img/other/books@2x.png 2x" type="image/webp">
          <source media="(max-width: 767px)" src="./img/other/books.png" type="image/png">
          <img class="proposal_books" src="../img/other-webp/books_2x.webp"  alt="books" style="width:auto;">
       </picture> -->


        <h3 class="proposal_title">Power of English</h3>
        <ul class="proposal_list">
          <li class="proposal_list_item">
            <svg class="tick_icon" preserveAspectRatio="xMidYMid meet">
              <use href="./img/icons.svg#icon-tick"></use>
            </svg>
            <p class="proposal_text">
              Dive into captivating lessons designed to stimulate your
              curiosity.
            </p>
          </li>
          <li class="proposal_list_item">
            <svg class="tick_icon">
              <use href="./img/icons.svg#icon-tick"></use>
            </svg>
            <p class="proposal_text">
              Learn in a nurturing setting where every student's progress
              matters.
            </p>
          </li>
          <li class="proposal_list_item">
            <svg class="tick_icon">
              <use href="./img/icons.svg#icon-tick"></use>
            </svg>
            <p class="proposal_text">
              Experience the satisfaction of real progress as your language
              skills and confidence grow with every session.
            </p>
          </li>
        </ul>
        <div class="proposal_button">
          <a class="proposal_link" href="#leave-an-app">Leave an application</a>
        </div>
      </div>
    </div>
  </div>
</section>
